

<div class="col-sm-3">
<h5 style="font-family: 'Open Sans', cursive; text-align: center; font-weight: bolder;  padding-right: 50px;">Workspaces</h5>

<% for(var i = 0; i < userSession.institutes.length; i++) { %>
    <% var active = ""; %>
    <% var institute = userSession.institutes[i] %>
        <% if(institute._id == curri) {%>
        <% active = "border: 4px solid #0056b3;" %>
        <% } %>
        <div class="workplace workplace-card" style="<%= active %>" id="<%=institute._id%>">
            <h5 class="workplace-head">
                <%=institute.name%> 
            </h5>
        </div>
        <% } %>

</div>

<!--

<% for(var i = 0; i < userSession.institutes.length; i++) { %>
<% var institute = userSession.institutes[i] %>
<% if(institute._id === curri) { %>
    <div class="col-sm-3">
            <div class="workplace workplace-card activeWorkplace" id="<%=institute._id%>">
                <h5 class="workplace-head">
                    <%=institute.name%>
                </h5>
                <a href="<%=institute.website%>" class="workspace-details">
                    <%=institute.website%>
                </a>
                <p class="workspace-details">Email:
                    <%=institute.email%>
                </p>
                <p class="workspace-details">Contact:
                    <%=institute.contact%>
                </p>
            </div>

    </div>
<% } else {%>
    <div class="col-sm-3">
            <div class="workplace workplace-card" id="<%=institute._id%>">
                <h5 class="workplace-head">
                    <%=institute.name%>
                </h5>
                <a href="<%=institute.website%>" class="workspace-details">
                    <%=institute.website%>
                </a>
                <p class="workspace-details">Email:
                    <%=institute.email%>
                </p>
                <p class="workspace-details">Contact:
                    <%=institute.contact%>
                </p>
            </div>

    </div>
<% } %>
<% } %>

-->