<div class="col-sm-3">
<% for(var i = 0; i < userSession.institutes.length; i++) { %>
    <% var institute = userSession.institutes[i] %>
        <div class="workplace workplace-card" id="<%=institute._id%>">
            <h5 class="workplace-head">
                <%=institute.name%>
            </h5>
            <a href="<%=institute.website%>" class="workspace-details">
                <%=institute.website%>
            </a>
            <p class="workspace-details">Email:
                <%=institute.email%>
            </p>
            <p class="workspace-details">Contact:
                <%=institute.contact%>
            </p>
        </div>
        <% } %>

</div>

<!--

<% for(var i = 0; i < userSession.institutes.length; i++) { %>
<% var institute = userSession.institutes[i] %>
<% if(institute._id === curri) { %>
    <div class="col-sm-3">
            <div class="workplace workplace-card activeWorkplace" id="<%=institute._id%>">
                <h5 class="workplace-head">
                    <%=institute.name%>
                </h5>
                <a href="<%=institute.website%>" class="workspace-details">
                    <%=institute.website%>
                </a>
                <p class="workspace-details">Email:
                    <%=institute.email%>
                </p>
                <p class="workspace-details">Contact:
                    <%=institute.contact%>
                </p>
            </div>

    </div>
<% } else {%>
    <div class="col-sm-3">
            <div class="workplace workplace-card" id="<%=institute._id%>">
                <h5 class="workplace-head">
                    <%=institute.name%>
                </h5>
                <a href="<%=institute.website%>" class="workspace-details">
                    <%=institute.website%>
                </a>
                <p class="workspace-details">Email:
                    <%=institute.email%>
                </p>
                <p class="workspace-details">Contact:
                    <%=institute.contact%>
                </p>
            </div>

    </div>
<% } %>
<% } %>

-->