<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ChatRoom - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/chat.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
        <!-- partial:../partials/_navbar.html -->
        <%- include partials/nav.ejs %>


            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <div class="row row-offcanvas row-offcanvas-right">


                    <div class="content-wrapper row">


                        <%- include partials/workspace.ejs %>

                            <div class="chat-card col-md-3" style="overflow: auto;">
                                <h4 class="chat-card-heading">Messaging</h4>
                                <hr class="header-separator">
                                <div id="connection-list">
                                    <% for(var i = 0; i < iusers.length; i++) { %>
                                        <button class="chat-name-overview conn-btn" id="<%= userSession._id %><%= iusers[i]._id %>"><h5><img src="../images/faces/face2.jpg" class="chat-image"><%= iusers[i].name %></h5></button>
                                        <hr>
                                        <% } %>
                                </div>
                            </div>


                            <div class="chat-card col-md-5">
                                <h4 class="chat-card-heading"><span id="recipient"></span></h4>
                                <hr class="header-separator">

                                <div id="chat-area">
                                </div>

                                <hr style="border-color:rgb(180, 180, 180);">
                                <div class="form-group">
                                    <textarea class="form-control p-input exampleTextarea" id="msg" rows="2" placeholder="Write Something...."></textarea>
                                </div>
                                <hr>
                                <button class="uploader"><i class="fa fa-plus" style="padding-right:14px;"></i>Upload File</button>
                                <button type="submit" class="btn btn-primary" id="send">SEND</button>
                            </div>


                            <div class="col-md-1"></div>
                    </div>


                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                        </div>
                    </footer>
                </div>
            </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/workplace.js"></script>
    <script>
        function updateScroll() {
            var element = document.getElementById("chat-area");
            element.scrollTop = element.scrollHeight;
        }
        setInterval(updateScroll, 1000);
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="../js/translate.js"></script>
</body>

</html>