<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../bower_components/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
        <!-- partial:../partials/_navbar.html -->
        <%- include partials/nav.ejs %>

            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <%- include partials/workspace.ejs %>

                                <div class="col-sm-7">
                                    <div class="post-box">
                                        <div class="form-group">
                                            <textarea class="form-control p-input" id="post-body" rows="3" placeholder="Write Something...."></textarea>
                                        </div>
                                        <hr>
                                        <button class="uploader"><i class="fa fa-plus" style="padding-right:14px;"></i>Upload File</button>
                                        <button type="submit" class="btn btn-primary" id="post-btn">&nbsp;Post&nbsp;</button>
                                    </div>



                                    <% for(var i = 0; i < posts.length; i++) { %>
                                        <div class="feed-card">
                                            <% var id = posts[i]._id %>
                                                <div class="feed-head row">
                                                    <img src="../images/faces/face2.jpg" class="col-md-1">
                                                    <div class="col-md-9" style="padding-top:2px;">
                                                        <h1 class="row">
                                                            <a href="/profile/<%= posts[i].user._id %>">
                                                                <%= posts[i].user.name %>
                                                            </a>
                                                        </h1>
                                                        <p class="row">
                                                            <%= posts[i].date %>
                                                        </p>
                                                    </div>
                                                    <% if(posts[i].user._id == userSession._id) { %>
                                                        <button class="btn btn-danger del-post" id="dp<%= posts[i]._id %>"><i class="ti-trash"></i></button>
                                                        <% } %>
                                                </div>
                                                <div class="feed-body">
                                                    <p>
                                                        <%= posts[i].body %>
                                                    </p>
                                                </div>
                                                <hr>
                                                <div class="feed-footer row">
                                                    <div class="col-md-3"></div>
                                                    <span id="lc<%=id%>"><%=posts[i].likes.length%></span>
                                                    <% if(posts[i].likes.indexOf(userSession._id) === -1) { %>
                                                        <% var l = "LIKE" } else { %>
                                                            <% var l = "Unlike" } %>
                                                                <button class="col-md-2 like" id="l<%=id%>"><i class="fa fa-thumbs-up"><%=l%></i></button>
                                                                <div class="col-md-2"></div>
                                                                <button class="col-md-2" onclick="comment()"><i class="fa fa-comment">Comment</i></button>
                                                                <div class="col-md-3"></div>
                                                </div>
                                                <div id="post-comment-area">
                                                    <input type="text" name="comment" id="cs<%=id%>" placeholder="Comment Here">
                                                    <button type="submit" class="btn btn-primary comment" id="c<%=id%>">Comment</button>
                                                </div>
                                                <div id="cd<%=id%>">
                                                    <% for(var j = posts[i].comments.length - 1; j >= 0 ; j--) { %>
                                                        <div class="feed-comments">
                                                            <div class="row">
                                                                <img src="../images/faces/face2.jpg" class="col-sm-1">
                                                                <div class="col-sm-9" style="padding-top:2px;">
                                                                    <h1 class="row">
                                                                        <a href="/profile/<%= posts[i].comments[j].user._id %>">
                                                                            <%= posts[i].comments[j].user.name %>
                                                                        </a>
                                                                    </h1>
                                                                    <p class="row">Designation at bla bla</p>
                                                                </div>
                                                                <% if(posts[i].comments[j].user._id == userSession._id) { %>
                                                                    <button class="btn btn-danger del-comm" id="dc<%= posts[i]._id %><%= posts[i].comments[j]._id %>"><i class="ti-trash"></i></button>
                                                                    <% } %>
                                                            </div>
                                                            <div class="feed-comments-body">
                                                                <p>
                                                                    <%= posts[i].comments[j].comment %>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                        </div>
                                        <% } %>
                                </div>

                                <div class="col-sm-1"></div>

                        </div>


                    </div>


                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                        </div>
                    </footer>
                </div>
            </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/comments.js"></script>
    <script src="./js/posts.js"></script>
    <script src="./js/workplace.js"></script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="../js/translate.js"></script>

</body>

</html>