<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
    <link rel="stylesheet" href="../stylesheets/profile.css" />

</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
            <button class="open-button" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"  style="font-size:48px;color:#2fa1e9; padding-right:20px;" aria-hidden="true">
                </i></button>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Request Event</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="ename">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">Venue</label>
                                    <input type="text" class="form-control" id="evenue">
                                </div>      
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="email">From</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00"  id="efrom">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">To</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00"  id="eto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="city">Content</label>
                                    <textarea rows="5" class="form-control"  id="econtent"></textarea>
                                </div>
                                
                            </div>
                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" id="ecreate">REQUEST</button>
                    </div>
                    </div>
                </div>
            </div>
        <!-- partial:../partials/_navbar.html -->
        <%- include partials/nav.ejs %>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="content-wrapper">
                <% for(var i = 0; i < userSession.institutes.length; i++) { %>
                    <% var institute = userSession.institutes[i] %>
                    <button class="btn btn-info workplace" id="<%=institute._id%>"><%=institute.name%></button>
                <% } %>
                    <!-- <div class="feed-card profile-card" > -->
                    <% for(var i = 0; i < events.length - 1; i++) { %>
                    <div class="row" style="margin-left: 100px;">
                        <div class="col-md-4" style="padding-left: 260px;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../images/events.png" alt="Avatar" style="width:300px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                    
                                    <h4><%= events[i].name%></h4> 
                                    <p><%= events[i].content %></p> 
                                    <p>Venue: <%= events[i].venue%></p> 
                                    <p>Starts: <%= events[i].startTime%></p> 
                                    <p>Ends: <%= events[i].endTime%></p>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4" style="padding-left: 270px;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../images/events.png" alt="Avatar" style="width:300px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                    <h4><%= events[i + 1].name%></h4> 
                                    <p><%= events[i + 1].content %></p> 
                                    <p>Venue: <%= events[i + 1].venue%></p> 
                                    <p>Starts: <%= events[i + 1].startTime%></p> 
                                    <p>Ends: <%= events[i + 1].endTime%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <% } %>
                    
                    <!-- <br>
                    <h4 class="page-title" style="margin-left: 18%;">Our Statistics</h4>
                    <hr style="width: 65%;">
                    <div class="profile-info-box" style="background-color: white;">
                            <h3 class="page-title">Applicant Details</h3>
                            <div class="row mb-2">
                                <div class="col-md-10" style="padding-top:2px;">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- <h5 class="card-title">Basic validation</h5> -->
                                            <!-- <form class="cmxform" id="commentForm" method="get" action="">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="cfirst">First Name </label>
                                                        <input id="cfirst" class="form-control" name="first" minlength="2" type="text" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="clast">Last Name </label>
                                                        <input id="clast" class="form-control" name="last" minlength="2" type="text" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cemail">E-Mail </label>
                                                        <input id="cemail" class="form-control" type="email" minlength="2" name="email" required>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="cprogram">Program</label>
                                                        <input id="cprogram" class="form-control" type="text" minlength="2" name="program" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cbranch">Branch </label>
                                                        <input id="cbranch" class="form-control" type="text"  name="branch">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cyear">Graduation Year </label>
                                                        <input id="cyear" class="form-control" type="number" minlength="4" name="number" min="1950" max="2050" required>
                                                    </div>
    
                                                    <input class="btn btn-primary" type="submit" value="Add Member">
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  -->

                    <!-- <div class="stats-body">
                        <div class="feed-head row">
                            <img src="../images/faces/face2.jpg" class="col-md-1">
                            <div class="col-md-9" style="padding-top:2px;">
                                <h1 class="row">Some Name</h1>
                                <p class="row">Designation at bla bla</p>
                            </div>
                        </div>
                        <div class="feed-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non ante leo. Mauris at est urna. Phasellus viverra tincidunt accumsan. Quisque venenatis arcu non malesuada semper. Suspendisse quis mauris convallis, dapibus
                                justo a, imperdiet magna. Maecenas tristique, eros nec posuere vestibulum, dui dolor tempor erat, nec venenatis ipsum dui sed mi. Duis lobortis molestie massa, id laoreet mi suscipit a. Donec varius pulvinar odio, consequat
                                sagittis mi fringilla a. Sed ex felis, imperdiet et tincidunt non, aliquet nec lacus. Etiam iaculis finibus nulla vel cursus. Aliquam erat volutpat. Phasellus suscipit nulla vel diam elementum feugiat. Nam sem urna, pharetra
                                sed arcu eu, porttitor pretium dui.</p>
                        </div>
                        <hr>
                        <div class="feed-footer row">
                            <div class="col-md-3"></div>
                            <button class="col-md-2"><i class="fa fa-thumbs-up">&nbsp;Like</i></button>
                            <div class="col-md-2"></div>
                            <button class="col-md-2" onclick="comment()"><i class="fa fa-comment">&nbsp;Comment</i></button>
                            <div class="col-md-3"></div>
                        </div>
                        <div id="post-comment-area">
                            <input type="text" name="comment" placeholder="Comment Here">
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </div>

                        <div class="feed-comments">
                            <div class="row">
                                <img src="../images/faces/face2.jpg" class="col-sm-1">
                                <div class="col-sm-9" style="padding-top:2px;">
                                    <h1 class="row">Some Name</h1>
                                    <p class="row">Designation at bla bla</p>
                                </div>
                            </div>
                            <div class="feed-comments-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non ante leo. Mauris at est urna. Phasellus viverra tincidunt accumsan. Quisque venenatis arcu non malesuada semper. Suspendisse quis mauris convallis, dapibus
                                    justo a, imperdiet magna. </p>
                            </div>
                        </div>
                    </div> -->





                </div>


                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/comments.js"></script>
    <script src="./js/workplace.js"></script>

</body>

</html>