<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
    <link rel="stylesheet" href="../stylesheets/profile.css" />

</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
        <!-- partial:../partials/_navbar.html -->
        <%- include partials/nav.ejs %>

            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <%- include partials/workspace.ejs %>

                                <!-- <div class="feed-card profile-card" > -->
                                <% for(var i = 0; i < events.length - 1; i++) { %>
                                    <div class="row col-sm-7">
                                        <div class="col-md-6">
                                            <div class="flip-card">
                                                <div class="flip-card-inner">
                                                    <div class="flip-card-front">
                                                        <img src="../images/events.png" alt="Avatar" style="width:300px;height:300px;">
                                                    </div>
                                                    <div class="flip-card-back">

                                                        <h4>
                                                            <%= events[i].name%>
                                                        </h4>
                                                        <p>
                                                            <%= events[i].content %>
                                                        </p>
                                                        <p>Venue:
                                                            <%= events[i].venue%>
                                                        </p>
                                                        <p>Starts:
                                                            <%= events[i].startTime%>
                                                        </p>
                                                        <p>Ends:
                                                            <%= events[i].endTime%>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="flip-card">
                                                <div class="flip-card-inner">
                                                    <div class="flip-card-front">
                                                        <img src="../images/events.png" alt="Avatar" style="width:300px;height:300px;">
                                                    </div>
                                                    <div class="flip-card-back">
                                                        <h4>
                                                            <%= events[i + 1].name%>
                                                        </h4>
                                                        <p>
                                                            <%= events[i + 1].content %>
                                                        </p>
                                                        <p>Venue:
                                                            <%= events[i + 1].venue%>
                                                        </p>
                                                        <p>Starts:
                                                            <%= events[i + 1].startTime%>
                                                        </p>
                                                        <p>Ends:
                                                            <%= events[i + 1].endTime%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-1"></div>

                                    <br>
                                    <% } %>


                        </div>



                    </div>

                    <footer class="footer">
                        <div class="container-fluid clearfix">
                            <span class="float-right">
                                <a href="#">Flying Neurons</a> &copy; 2018
                            </span>
                        </div>
                    </footer>
                </div>
            </div>

            <script src="../node_modules/jquery/dist/jquery.min.js"></script>
            <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
            <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
            <script src="../js/sidebar-icon.js"></script>
            <script src="../js/off-canvas.js"></script>
            <script src="../js/hoverable-collapse.js"></script>
            <script src="../js/misc.js"></script>
            <script src="../js/comments.js"></script>
            <script src="./js/workplace.js"></script>

</body>

</html>