<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
    <link rel="stylesheet" href="../stylesheets/profile.css" />

</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
        <button class="open-button" style="bottom: 60px;" data-toggle="modal" data-target="#myModal2"><i class="fa fa-user"  style="font-size:48px;color:#2fa1e9; padding-right:20px;" aria-hidden="true">
                </i></button>

        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="ename">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">E-Mail</label>
                                    <input type="text" class="form-control" id="cemail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">Branch</label>
                                    <input type="text" class="form-control" id="ebranch">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">Program</label>
                                    <input type="text" class="form-control" id="eprogram">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="city">Graduation year</label>
                                    <input type="number" class="form-control" id="eyear" name="number" min="1950" max="2050">
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" id="ecreate">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="open-button" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"  style="font-size:48px;color:#2fa1e9; padding-right:20px;" aria-hidden="true">
                </i></button>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Event</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="ename">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">Venue</label>
                                    <input type="text" class="form-control" id="evenue">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="email">From</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00" id="efrom">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">To</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00" id="eto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="city">Content</label>
                                    <textarea rows="5" class="form-control" id="econtent"></textarea>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" id="ecreate">CREATE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button id="event-button">   
     <i class="fa fa-plus-circle"  style="font-size:48px;color:#2fa1e9; padding-right:20px;" aria-hidden="true">
    </i>
    </button>
    <form id="eventform">
            <b>First Name:</b> <input type="text" name="firstName">
            <b>Last Name: </b><input type="text" name="lastName">
             <button type="button" id="submit">Submit</button>
          </form> -->
        <!-- partial:../partials/_navbar.html -->

        <nav class="navbar navbar-light col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-left navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="/dashboard"><img src="../images/logo_black.png" class="nav-logo-img"></a>
                <a class="navbar-brand brand-logo-mini" href="#"><i class="mdi mdi-cards-outline"></i></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-self-stretch align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item  mt-2 mt-md-0 d-none d-lg-block">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                        </form>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/chat" class="nav-link count-indicator" href="#">
                            <i class="fa fa-comments-o"></i>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link count-indicator" href="/events">
                            <i class="fa fa-calendar"></i>
                        </a>
                    </li>
                    
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" href="#" id="MailDropdown" href="#" data-toggle="dropdown">
                                        <img src="../images/faces/CET.png" />
                                </a>
                        <div class="dropdown-menu navbar-dropdown mail-notification" aria-labelledby="MailDropdown">
                            
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-gears" style="padding-right:14px; font-size: 18px"></i>Settings</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-h-square" style="padding-right:14px; font-size: 18px"></i>Help Centre</p>
                                </div>
                            </a>
                            <a class="dropdown-item" id="logout-btn">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-sign-out" style="padding-right:14px; font-size: 20px"></i>Sign Out</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                <div id="google_translate_element"></div>
            </div>


        </nav>

        <button class="open-button" data-toggle="modal" data-target="#newEvent"><i class="fa fa-plus-circle"  style="font-size:48px;color:#2fa1e9; padding-right:20px;" aria-hidden="true">
                </i></button>

        <div id="newEvent" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Event</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="ename">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">Venue</label>
                                    <input type="text" class="form-control" id="evenue">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="email">From</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00" id="efrom">
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label for="contact">To</label>
                                    <input type="datetime-local" class="form-control" value="2018-01-01T00:00" id="eto">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="city">Content</label>
                                    <textarea rows="5" class="form-control" id="econtent"></textarea>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info createEvent" id="acellcreate">CREATE</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="content-wrapper">

                    <div class="profile-info-box">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="profile-card-img" src="../images/faces/CET.png" alt="">
                                <div class="profile-info-name">
                                    <h4>Almnus Cell</h4>
                                    <p style="color: #888888;">Admin</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="profile-info-description">
                                    <p>College Of Engineering and Technology
                                        <p>
                                            <p><a href="www.cet.edu.in">www.cet.edu.in</a></p>
                                            <p style="word-spacing: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-feature-settings: 'onum' ;">+9100222341 +9122240404</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="page-title" style="margin-left: 18%;">Our Statistics</h4>
                    <div class="row" style=" width: 65%;margin: auto;margin-bottom: 40px;overflow: hidden;">
                        <div class="card card-circle-progress col-md-3">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 18px;">Alumnus registered</h5>
                                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                                    <div class="score alumnus">
                                        <div id="counter"><span class="count">120</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-circle-progress col-md-3">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 18px;">Students registered</h5>
                                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                                    <div class="score students">
                                        <div id="counter"><span class="count">2345</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-circle-progress col-md-3">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 18px;">Projects registered</h5>
                                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                                    <div class="score tech-members">
                                        <div id="counter"><span class="count">72</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-circle-progress col-md-3">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 18px;">AlumCell members</h5>
                                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                                    <div class="score cell-members">
                                        <div id="shiva"><span class="count">48</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style="width: 65%;">
                    <!--<div class="profile-info-box" style="background-color: white;">
                            <h3 class="page-title">Applicant Details</h3>
                            <div class="row mb-2">
                                <div class="col-md-10" style="padding-top:2px;">
                                    <div class="card">
                                        <div class="card-body">
                                          <form class="cmxform" id="commentForm" method="get" action="">
                                                <fieldset>
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="cfirst">First Name </label>
                                                        <input id="cfirst" class="form-control" name="first" minlength="2" type="text" required>
                                                    </div>
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="clast">Last Name </label>
                                                        <input id="clast" class="form-control" name="last" minlength="2" type="text"  required>
                                                    </div>
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="cemail">E-Mail </label>
                                                        <input id="cemail" class="form-control" type="email" minlength="2" name="email" required>
                                                    </div>
                                                    
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="cprogram">Program</label>
                                                        <input id="cprogram" class="form-control" type="text" minlength="2" name="program" required>
                                                    </div>
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="cbranch">Branch </label>
                                                        <input id="cbranch" class="form-control" type="text"  name="branch">
                                                    </div>
                                                    <div class="form-group" style="width:70%;">
                                                        <label for="cyear">Graduation Year </label>
                                                        <input id="cyear" class="form-control" type="number" minlength="4" name="number" min="1950" max="2050" required>
                                                    </div>
    
                                                    <input class="btn btn-primary" type="submit" value="Add Member" >
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>-->

                    <% for(var i = 0; i < posts.length; i++) { %>
                        <div class="feed-card">
                            <% var id = posts[i]._id %>
                                <div class="feed-head row">
                                    <img src="../images/faces/face2.jpg" class="col-md-1">
                                    <div class="col-md-9" style="padding-top:2px;">
                                        <h1 class="row">
                                            <a href="/profile/<%= posts[i].user._id %>">
                                                <%= posts[i].user.name %>
                                            </a>
                                        </h1>
                                        <p class="row">
                                            <%= posts[i].date %>
                                        </p>
                                    </div>
                                    <% if((posts[i].user._id == userSession._id) || (userSession === "admin")) { %>
                                        <button class="btn btn-danger del-post" id="dp<%= posts[i]._id %>"><i class="ti-trash"></i></button>
                                        <% } %>
                                </div>
                                <div class="feed-body">
                                    <p>
                                        <%= posts[i].body %>
                                    </p>
                                </div>
                                <hr>
                                <div class="feed-footer row">
                                    <div class="col-md-3"></div>
                                    <span id="lc<%=id%>"><%=posts[i].likes.length%></span>
                                    <!-- <% if(posts[i].likes.indexOf(userSession._id) === -1) { %>
                                    <% var l = "LIKE" } else { %>
                                        <% var l = "Unlike" } %> 
                                -->
                                    <button class="col-md-2 like" id="l<%=id%>"><i class="fa fa-thumbs-up">LIKES</i></button>
                                    <div class="col-md-2"></div>
                                    <button class="col-md-2" onclick="comment()"><i class="fa fa-comment">Comment</i></button>
                                    <div class="col-md-3"></div>
                                </div>
                                <div id="post-comment-area">
                                    <input type="text" name="comment" id="cs<%=id%>" placeholder="Comment Here">
                                    <button type="submit" class="btn btn-primary comment" id="c<%=id%>">Comment</button>
                                </div>
                                <div id="cd<%=id%>">
                                    <% for(var j = posts[i].comments.length - 1; j >= 0 ; j--) { %>
                                        <div class="feed-comments">
                                            <div class="row">
                                                <img src="../images/faces/face2.jpg" class="col-sm-1">
                                                <div class="col-sm-9" style="padding-top:2px;">
                                                    <h1 class="row">
                                                        <a href="/profile/<%= posts[i].comments[j].user._id %>">
                                                            <%= posts[i].comments[j].user.name %>
                                                        </a>
                                                    </h1>
                                                    <p class="row">Designation at bla bla</p>
                                                </div>
                                                <% if((posts[i].comments[j].user._id == userSession._id)  || (userSession === "admin")) { %>
                                                    <button class="btn btn-danger del-comm" id="dc<%= posts[i]._id %><%= posts[i].comments[j]._id %>"><i class="ti-trash"></i></button>
                                                    <% } %>
                                            </div>
                                            <div class="feed-comments-body">
                                                <p>
                                                    <%= posts[i].comments[j].comment %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                        </div>
                        <% } %>


                            <% for(var i = 0; i < events.length; i++) { %>
                                <% if(events[i].isApproved == false) {%>
                                    <div class="feed-card">
                                        <% var id = events[i]._id %>
                                            <div class="feed-head row">
                                                <img src="../images/faces/face2.jpg" class="col-md-1">
                                                <div class="col-md-9" style="padding-top:2px;">
                                                    <h1 class="row">
                                                        <%= events[i].poster.name %>
                                                    </h1>
                                                    <p class="row">
                                                        <%= events[i].date %>
                                                    </p>
                                                </div>

                                            </div>
                                            <div class="feed-body">
                                                <p>
                                                    <%= events[i].content %>
                                                </p>
                                                <p>
                                                    <b>Venue:</b>
                                                    <%= events[i].venue %>
                                                </p>
                                                <% var temp = events[i].startTim; var from = new Date(temp);  %>
                                                    <% var temp = events[i].endTime; var to = new Date(temp);  %>
                                                        <% var fday = from.getDate(); var fmonth = from.getMonth(); var ftime = from.getTime(); %>
                                                            <% var tday = to.getDate(); var tmonth = to.getMonth(); var ttime = to.getTime(); %>
                                                                <p>
                                                                    <b> From </b>
                                                                    <%= events[i].startTime %> <b>To</b>
                                                                        <%= events[i].endTime %>
                                                                </p>
                                                                <div class="admin-buttons">
                                                                <button class="btn btn-info response"   id="a<%= events[i]._id %>">ACCEPT</button>
                                                                &nbsp;
                                                                <button class="btn btn-warning response"  id="r<%= events[i]._id %>">REJECT</button>
                                                                </div>
                                                            </div>


                                    </div>
                                    <% } %>
                                        <% } %>




                </div>


                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/comments.js"></script>
    <script src="../js/counter.js"></script>
    <script src="../js/posts.js"></script>
    <script src="../js/events.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="../js/translate.js"></script>


</body>

</html>