<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile - Campus ReConnect</title>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../bower_components/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/dashboard.css" />
    <link rel="stylesheet" href="../stylesheets/profile.css" />
    <link rel="shortcut icon" href="../images/favicon.png" />
</head>

<body class="horizontal-menu">
    <div class=" container-scroller">
        <!-- partial:../partials/_navbar.html -->
        <nav class="navbar navbar-light col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-left navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="/dashboard"><img src="../images/logo_black.png" class="nav-logo-img"></a>
                <a class="navbar-brand brand-logo-mini" href="#"><i class="mdi mdi-cards-outline"></i></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-self-stretch align-items-center">
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item  mt-2 mt-md-0 d-none d-lg-block">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link count-indicator" href="/dashboard">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator" id="MailDropdown" href="#" data-toggle="dropdown">
                            <i class="fa fa-comments-o"></i>
                            <span class="count">4</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown mail-notification" aria-labelledby="MailDropdown">
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face6.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">John Doe</p>
                                    <p class="Sender-message">Hey, We have a meeting planned at the end of the day.</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face2.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Leanne Jones</p>
                                    <p class="Sender-message">Can we schedule a call this afternoon?</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face3.jpg" alt="">
                                    <span class="badge badge-primary">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Stella</p>
                                    <p class="Sender-message">Great presentation the other day. Keep up the good work!</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face4.jpg" alt="">
                                    <span class="badge badge-warning">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">James Brown</p>
                                    <p class="Sender-message">Need the updates of the project at the end of the week.</p>
                                </div>
                            </a>
                            <a href="/chat" class="dropdown-item view-all">View all</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link count-indicator" href="/alum-locator">
                            <i class="fa fa-bullseye"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" href="#" id="MailDropdown" href="#" data-toggle="dropdown">
                                Profile<img src="../images/faces/face9.jpg" />
                        </a>
                        <div class="dropdown-menu navbar-dropdown mail-notification" aria-labelledby="MailDropdown">
                            <a class="dropdown-item" href="#">
                                <div class="sender-img">
                                    <img src="../images/faces/face2.jpg" alt="">
                                    <span class="badge badge-success">&nbsp;</span>
                                </div>
                                <div class="sender">
                                    <p class="Sende-name">Name Something</p>
                                    <p class="Sender-message">View Profile</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-gears" style="padding-right:14px; font-size: 18px"></i>Settings</p>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-h-square" style="padding-right:14px; font-size: 18px"></i>Help Centre</p>
                                </div>
                            </a>
                            <a class="dropdown-item" id="logout-btn">
                                <div class="sender">
                                    <p class="Sende-name"><i class="fa fa-sign-out" style="padding-right:14px; font-size: 20px"></i>Sign Out</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">

                <div class="content-wrapper">

                    <div class="feed-card profile-card">
                        <div class="row">
                            <div class="col-md-5">
                                <img class="profile-card-img" src="../images/faces/face3.jpg" alt="">
                                <div class="profile-card-name">
                                    <h4>
                                        <%= userProfile.name %>
                                    </h4>
                                    <p>Designation of the person</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p class="profile-description">Describe Yourself in Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non ante leo. Mauris at est urna. Phasellus viverra tincidunt accumsan. Quisque venenatis arcu non malesuada semper. Suspendisse quis
                                    mauris convallis, dapibus justo a.</p>
                            </div>
                        </div>


                        <div class="profile-card-details">
                            <h4>Skills</h4>
                            <div class="row">
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h6 class="card-title">HTML</h6>
                                        <div class="circle-progress" data-value="0.9" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">CSS</h5>
                                        <div class="circle-progress" data-value="0.7" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">jQuery</h5>
                                        <div class="circle-progress" data-value="0.5" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">JavaScript</h5>
                                        <div class="circle-progress" data-value="0.3" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>

                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Boostrap</h5>
                                        <div class="circle-progress" data-value="0.7" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Git</h5>
                                        <div class="circle-progress" data-value="1.0" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Python</h5>
                                        <div class="circle-progress" data-value="0.4" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                                <div class="card card-circle-progress col-md-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Java</h5>
                                        <div class="circle-progress" data-value="0.1" data-size="30" data-thickness="5" data-animation-start-value="2.0" data-reverse="true"></div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <h4>Experiences</h4>
                            <ul class="experiences">
                                <li>
                                    <h6>Exp 1</h6>
                                    <p>Description</p>
                                </li>
                                <li>
                                    <h6>Exp 1</h6>
                                    <p>Description</p>
                                </li>
                                <li>
                                    <h6>Exp 1</h6>
                                    <p>Description</p>
                                </li>
                            </ul>

                        </div>



                    </div>
                    <br>
                    <h4 class="posts-timeline">Posts Timeline</h4>
                    <hr style="width: 65%;">

                    <% for(var i = 0; i < userProfile.posts.length; i++) { %>
                        <div class="feed-card">
                            <% var id = userProfile.posts[i]._id %>
                                <div class="feed-head row">
                                    <img src="../images/faces/face2.jpg" class="col-md-1">
                                    <div class="col-md-9" style="padding-top:2px;">
                                        <h1 class="row">
                                            <a href="/profile/<%= userProfile._id %>">
                                                <%= userProfile.name %>
                                            </a>
                                        </h1>
                                        <p class="row">
                                            <%= userProfile.posts[i].date %>
                                        </p>
                                    </div>
                                    <% if(userProfile._id == userSession._id) { %>
                                        <button class="btn btn-danger del-post" id="dp<%= userProfile.posts[i]._id %>"><i class="ti-trash"></i></button>
                                        <% } %>
                                </div>
                                <div class="feed-body">
                                    <p>
                                        <%= userProfile.posts[i].body %>
                                    </p>
                                </div>
                                <hr>
                                <div class="feed-footer row">
                                    <div class="col-md-3"></div>
                                    <span id="lc<%=id%>"><%=userProfile.posts[i].likes.length%></span>
                                    <% if(userProfile.posts[i].likes.indexOf(userSession._id) === -1) { %>
                                        <% var l = "LIKE" } else { %>
                                            <% var l = "Unlike" } %>
                                                <button class="col-md-2 like" id="l<%=id%>"><i class="fa fa-thumbs-up"><%=l%></i></button>
                                                <div class="col-md-2"></div>
                                                <button class="col-md-2" onclick="comment()"><i class="fa fa-comment">&nbsp;Comment</i></button>
                                                <div class="col-md-3"></div>
                                </div>
                                <div id="post-comment-area">
                                    <input type="text" name="comment" placeholder="Comment Here" id="cs<%=id%>">
                                    <button type="submit" class="btn btn-primary comment" id="c<%=id%>">Comment</button>
                                </div>

                                <% for(var j = userProfile.posts[i].comments.length - 1; j >= 0 ; j--) { %>
                                    <div class="feed-comments" id="cd<%=id%>">
                                        <div class="row">
                                            <img src="../images/faces/face2.jpg" class="col-sm-1">
                                            <div class="col-sm-9" style="padding-top:2px;">
                                                <h1 class="row">
                                                    <a href="/profile/<%= userProfile.posts[i].comments[j].user._id %>">
                                                        <%= userProfile.posts[i].comments[j].user.name %>
                                                    </a>
                                                </h1>
                                                <p class="row">Designation at bla bla</p>
                                            </div>
                                            <% if(userProfile.posts[i].comments[j].user._id == userSession._id) { %>
                                                <button class="btn btn-danger del-comm" id="dc<%= userProfile.posts[i]._id %><%= userProfile.posts[i].comments[j]._id %>"><i class="ti-trash"></i></button>
                                                <% } %>
                                        </div>
                                        <div class="feed-comments-body">
                                            <p>
                                                <%= userProfile.posts[i].comments[j].comment %>
                                            </p>
                                        </div>

                                    </div>
                                    <% } %>
                        </div>
                        <% } %>


                </div>


                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                        <a href="#">Flying Neurons</a> &copy; 2018
                    </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/jquery-circle-progress/dist/circle-progress.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../js/sidebar-icon.js"></script>
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <script src="../js/comments.js"></script>
    <script src="../../js/profile.js"></script>
    <script src="../../js/posts.js"></script>
    <script>
        $('.circle-progress').circleProgress({
            fill: {
                color: "#fff"
            }
        });
    </script>
</body>

</html>